/* Adds background color and font family for site */
body {
  background: #9DD0E9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Adds styling to header and fixes position on page */
.headshot {
  height: 10%;
  width: 100%;
  position: fixed;
  text-align: center;
  background-color: blue;
}

/* Applies top padding to body text to prevent header overlap, set font family, and applied background*/
.body {
  padding-top: 20%;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Adds text stroke (outline) to h1 tags and provides fallback color for unsupported browsers */
h1 {
  -webkit-text-fill-color: #FFDA79;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #FFDA79;
  text-align: center;
}

/* Adds text stroke (outline) to body text and provides fallback color for unsupported browsers */
.info {
  -webkit-text-fill-color: #FF9579;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #FF9579;
  text-align: center;
}
