/* Adds text stroke (outline) to h1 tags and provides fallback color for unsupported browsers */
h1 {
  -webkit-text-fill-color: #74a0e8;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #74a0e8;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Adds text stroke (outline) to body text and provides fallback color for unsupported browsers */
p {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Specifies font size for navBar */
.navBar {
  font-size: 12px;
}

h5 {
  color: black;
}

#headshot, #splatterBG {
    opacity: 1;
    position: absolute;
    margin:auto;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
