/* Adds styling to header and fixes position on page */
.headshot {
  height: 10%;
  width: 100%;
  position: fixed;
  text-align: center;
  background-color: blue;
}

/* Specifies background color and font family */
body {
  background-color: #7cdaff;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Applies top padding to body text to prevent header overlap */
.body {
  padding-top: 20%;
}

/* Adds text stroke (outline) to h1 tags and provides fallback color for unsupported browsers */
h1 {
  -webkit-text-fill-color: #ff7cac;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #ff7cac;
  text-align: center;
}

/* Adds text stroke (outline) to body text and provides fallback color for unsupported browsers */
.info {
  -webkit-text-fill-color: #ffe77c;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #ffe77c;
  text-align: center;
}
